.header{
	color:#c0392b;
	position: relative;
	margin-top: 29%;
}
.header h1{
	font-size: 70px;
}
.header p{
	font-size: 20px;
}
.center{
	text-align: center;
}
.spacer{
	margin-top: 14%;
}
.error{
	color: #c0392b;
}