{% extends "base.html" %}
{% block title %}Drawing{% endblock %}
{% block content %}
  <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
  <div id="map" style="width: 100%; height: 100%;"></div>

  <script type="text/javascript">
    var raw_data = "{{data}}"
    for(i=0;i<{{count}};i++){
      raw_data = raw_data.replace('&#34;','"').replace('&#34;','"')
    }
    data = jQuery.parseJSON(raw_data)
    var locations = []
    for (college in data){
      locations.push([college,data[college][0],data[college][1],5]);
    }

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5,
      center: new google.maps.LatLng(38.5111,-96.8005),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  
  </script>

{% endblock %}